{% extends 'accounts/base.html' %}

{% block navbar %}{% endblock %}

{% block main_content %}
{% block content %}

<div class="auth-wrapper">

  <div class="auth-card">

    <h2>Citizen Sign Up</h2>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" class="auth-btn">
        Register
      </button>
    </form>

  <div style="margin-top:15px; text-align:center; color:white;">
    Already have an account?
    <a href="{% url 'login' %}" style="color:white; font-weight:bold; text-decoration:none;">
        Login
    </a>
</div>

  </div>

</div>

{% endblock %}
{% endblock %}